:root {
  --bg: #eeeeee;
  --text1: #231f20;
  --text2: #c5c5c5;
  --text-link: #89b3ff;
  --wrapper-bg: rgb(243, 243, 243);
  --columns: 3;
  --multiplier: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #242424;
    --text1: #e0e0e0;
    --text2: #6d6d6d;
    --text-link: #89b3ff;
    --wrapper-bg: #3d3d3d;
  }
}

@media (min-width: 576px) {
  :root {
    --multiplier: 2;
  }
}

@media (min-width: 1200px) {
  :root {
    --multiplier: 3;
  }
}
