#projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(1rem * var(--multiplier));
  padding-top: calc(2rem * var(--multiplier));
}

#projects figure {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects figcaption {
  padding-top: calc(0.5rem * var(--multiplier));
  width: 100%;
}

#projects figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#projects figure img.portrait {
  width: auto;
  height: 100%;
  max-height: 300px;
}

#projects a:hover {
  border-bottom: 2px solid transparent;
}

#projects figure:hover > figcaption span.title {
  /* border-bottom: 2px dotted var(--text1); */
}

#projects figure.app img {
  border-radius: 5px;
}

#projects figcaption span.category,
#projects figcaption span.year {
  color: var(--text2);
}

#projects figcaption {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1em;
}
#projects figcaption span:not(:nth-of-type(1)) {
  padding-left: 1em;
}

#projects figure .img-wrapper {
  width: 100%;
  height: auto;
  max-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span.category,
span.year {
  display: none;
}

@media (min-width: 400px) {
  span.category,
  span.year {
    display: block;
  }
}

@media (min-width: 800px) {
  #projects figure .img-wrapper {
    background: var(--wrapper-bg);
  }

  #projects figure img {
    max-width: 800px;
    padding: calc(1em * var(--multiplier));
  }

  #projects figure img.portrait {
    max-height: 700px;
  }
}

/* @media (min-width: 1500px) {
  #projects {
    grid-template-columns: repeat(3, 1fr);
  }
} */

#projects.grid {
  display: block;
  columns: 5;
  column-gap: 3em;
}
